:root {
    --title-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196F3;
    --hero-footer-background: #2F303A;
    --main-site-background: #FFFFFF;
    --second-site-background: #F5F4FA;
    --header-logo-color: #000000;
    --footer-logo-color: #ffffff;
    --footer-text-color: #ffffff;
    --hero-title-color: #ffffff;
    --hero-btn-color: #ffffff;
    --hero-btn-background: #2196F3;
    --team-item-background: #ffffff;
    --timig-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    /* color: inherit; */
}

.address {
    font-style: normal;
}

img {
    display: block;
}

.button {
    cursor: pointer;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid tomato; */
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    background: var(--main-site-background);
}

.header-nav-list .active {
    color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* -------- header -------- */

.header {
    /* padding-top: 24px;
    padding-bottom: 25px; */
    border-bottom: 1px solid #ECECEC;
    /* position: absolute;
    top: 0;
    left: 0; */
}

.header-logo,
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    padding-top: 24px;
    padding-bottom: 25px;

}

.footer-logo {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 25px;
}

.header-logo-span {
    color: var(--header-logo-color);
}

.header .container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;

}

.header-nav-list {
    display: flex;
    margin-left: 93px;

}

.header-item:not(:last-child) {
    margin-right: 40px;
}

.header-list {
    display: flex;
    margin-left: auto;
}

.header-nav-link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--transition-duration) var(--timig-function);
}

.header-nav-link::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity var(--transition-duration) var(--timig-function);
}

.header-nav-link:hover::after {
    opacity: 1;
}

.active::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
    opacity: 1;
}

.header-mail,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    /* margin-top: -32px;
    margin-bottom: -32px; */
    transition: color var(--transition-duration) var(--timig-function);
}


.header .link:hover,
.header .link:focus {
    color: var(--accent-color);
}

.footer-list .link:hover,
.footer-list .link:focus {
    color: var(--accent-color);
}

.header-icon-envelope,
.header-icon-smartphone {
    margin-right: 10px;
    fill: currentColor;

}

.header-mail:hover .header-icon-envelope,
.header-tel:hover .header-icon-smartphone {
    fill: currentColor;
}

/* -------- hero -------- */

.hero {
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/hero.jpg);
    max-width: 1600px;
    flex-wrap: nowrap;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;

}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    margin: 0px auto 30px auto;
    max-width: 700px;
}

.hero-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    padding: 10px 32px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    min-width: 200px;
    height: 50px;
    color: var(--hero-btn-color);
    background: var(--hero-btn-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0px auto;
    border: transparent;
}

/* -------- features -------- */
.features {
    padding: 94px 0px;
}

.features-list {
    display: flex;
    margin-left: -30px;
}

.features-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
}

.features-bg-img {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: #F5F4FA;
}

.features-img {
    fill: currentColor;
}

.features-item-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: inherit;
    margin-bottom: 10px;
}

.features-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* -------- gellery -------- */
.gellery {
    padding-bottom: 94px;
}

.gellery-title {
    margin-bottom: 50px;
}

.gellery-title,
.team-title,
.customers-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
}

.gellery-list {
    display: flex;
    margin-left: -30px;
}

.gellery-link {
    display: block;
}

.gellery-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;

}

.gellery-item:hover .gellery-img-label {
    transform: translateY(0);
}

.gellery-img-wrap {
    position: relative;
    overflow: hidden;
}

.gellery-img-label {
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    transform: translateY(70px);
    transition: transform var(--transition-duration) var(--timig-function);
}



/* -------- team -------- */

.team {
    background: var(--second-site-background);
    padding: 94px 0px;
}

.team-title {
    margin-bottom: 50px;

}

.team-list {
    display: flex;
    margin-left: -30px;
}

.team-item {
    background-color: var(--team-item-background);
    flex-basis: (100% / 4 - 30px);
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-content {
    padding: 30px;
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    margin-bottom: 10px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 16px;
}

.team-box-list {
    display: flex;
    justify-content: center;
}

.team-box-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;

}

.team-box-item:first-child {
    margin-left: 0;
}

.team-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-color: tomato; */
    color: #AFB1B8;
    transition: color var(--transition-duration) var(--timig-function), background-color var(--transition-duration) var(--timig-function);

}

.team-soc-icon {
    fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
    color: var(--team-item-background);
}

/* customers */

.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers-title {
    margin-bottom: 50px;
}

.customers-list {
    display: flex;
    margin: -15px;
}

.customers-item {
    flex-basis: calc(100% / 6 - 30px);
    margin: 15px;
    width: 170px;
    height: 92px;

}

.customers-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition:
        border-color var(--transition-duration) var(--timig-function),
        color var(--transition-duration) var(--timig-function);
}

.customers-icon {
    fill: currentColor;
}


.customers-soc-link:hover,
.customers-soc-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    outline: transparent;
}





/* ----- footer ------ */

.footer {
    background: var(--hero-footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
    /* outline: 1px solid tomato; */
}

.footer .container {
    display: flex;
    align-items: baseline;
}




.footer-join {
    margin-left: 70px;
}

.footer-title {
    margin-bottom: 20px;
}

/* icon footer */

.footer-box-list {
    display: flex;
}

.footer-box-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
}

.footer-box-item:first-child {
    margin-left: 0;
}

.footer-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: var(--team-item-background);
    transition: background-color var(--transition-duration) var(--timig-function);

}

.footer-soc-icon {
    fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);

}

/* end foter icon */

.footer-title {
    /* font-family: 'Roboto';
    font-style: normal; */
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-text-color);
}


.footer-contact {
    margin-top: 20px;
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-logo-span {
    color: var(--footer-logo-color);
}

.footer-item-text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
}

.footer-mail,
.footer-tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-duration) var(--timig-function);

}

.footer-mail:hover,
.footer-tel:hover {
    fill: currentColor;
}

.footer-subscribe {
    margin-left: auto;
}

.footer-input {
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    transition: color var(--timig-function) var(--transition-duration),
        border-color var(--timig-function) var(--transition-duration),
        outline var(--timig-function) var(--transition-duration);
}

.footer-input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus,
.footer-input:hover {
    color: var(--footer-text-color);
    border-color: var(--hero-btn-background);
    outline: transparent;
}

.footer-form {
    display: flex;
    align-self: center;
}

.footer-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    padding: 10px 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    min-width: 200px;
    height: 50px;
    color: var(--hero-btn-color);
    background: var(--hero-btn-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;

}

.footer-icon {
    fill: currentColor;
    margin-left: 9px;
}




/* -------- portfolio -------- */
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-list-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}



.portfolio-item-btn:not(:last-child) {
    margin-right: 8px;
}

.portfolio-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    background: var(--second-site-background);
    border: transparent;
    border-radius: 4px;
    padding: 6px 22px;
    transition: background-color var(--transition-duration) var(--timig-function), color var(--transition-duration) var(--timig-function), box-shadow var(--transition-duration) var(--timig-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--hero-btn-color);
    background: var(--hero-btn-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    background-color: #FFFFFF;
}

.portfolio-content-item {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolio-item-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: inherit;
    margin-bottom: 4px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/* hover overlay - start */

.portfolio-item:hover .portfolio-text-hover,
.portfolio-link:focus .portfolio-text-hover {
    transform: translateY(0);
}

/*  */
.portfolio-link {
    display: block;
    /*display: block; для чого він туту?  */
    transition: box-shadow var(--transition-duration) var(--timig-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*  */

.portfolio-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-text-hover {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--hero-title-color);
    padding: 63px 24px 0px 24px;
    background: rgba(33, 150, 243, 0.9);
    height: 101%;
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--timig-function);
}

/* hover overlay - end */


/* модальне вікно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-duration) var(--timig-function), visibility var(--transition-duration) var(--timig-function);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition-duration) linear;
    padding: 40px;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-items: center;
}

.modal-close-btn:focus,
.modal-close-btn:hover{
    border-color: var(--accent-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;

}

.modal-item {
    margin-bottom: 10px;
}

.modal-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition: border-color var(--timig-function) var(--transition-duration);
}

.user-text-area {
    transition: color var(--timig-function) var(--transition-duration),
        border var(--timig-function) var(--transition-duration);
}


.user-text-area:focus,
.user-text-area:hover,
.modal-input:focus,
.modal-input:hover {
    border: 1px solid var(--accent-color);
}

.user-text-area:focus{
color: var(--title-color);
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--timig-function) var(--transition-duration);

}

.modal-input:focus+.modal-icon,
.modal-input:hover+.modal-icon {
    fill: var(--accent-color);

}



.modal-btn {
    display: block;
    margin: 0 auto;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    padding: 10px 32px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    min-width: 200px;
    height: 50px;
    color: var(--hero-btn-color);
    background: var(--hero-btn-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
}

.modal-label {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-bottom: 4px;
}

.modal-textarea {
    margin-bottom: 20px;
}

.user-text-area {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding: 12px 16px;
    outline: transparent;
}

.modal-contract {
    margin-bottom: 30px;
}

.modal-text {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    align-items: center;
}

.modal-text a {
    color: var(--accent-color);
}

.modal-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 15%;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-duration) var(--timig-function), 
    border-color var(--transition-duration) var(--timig-function);
}

.chec-icon {
    fill: transparent;
}

.modal-chec:checked+.modal-text span {
    background-color: var(--hero-btn-background);
    border: none;
}

.modal-chec:focus+.modal-text span,
.modal-chec:hover+.modal-text span {
    border-color: var(--accent-color);
}

.modal-chec:checked+.modal-text .chec-icon {
    fill: var(--team-item-background);
}






/* .modal-text::before {
    content: " ";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 15%;
    margin-right: 8px;

}

.modal-chec:checked + .modal-text::before{
    background-color: var(--hero-btn-background);
    background-image: url(../img/svg/checkbox.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: transparent;
} */